.footer{
    margin-top: 10vh;
    padding: 0 15%;
    height: 175px;
    background-color: rgb(10, 10, 10);
    border-block: 5px solid rgba(222,222,222);
}

.footer-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 3vh;
    text-align: center;
}

.footer-bottom{
    justify-items: center;
}

.footer-logo{
    padding-top: 15px;
    padding-bottom: 10px;
    height: 50px;
}