.temp-image{
    border: 0.5vw outset blue;
    background-color: black;
    color: white;
    justify-self: center;
}

.link{
    color: rgb(0, 158, 87);
    font-weight: 700;
}

.link:hover{
    color: rgb(0, 105, 56);
}

.bg-parallax{
    position: fixed;
}

.fg-parallax{
    position: relative;
    background-color: white;
    z-index:10;
}

.button{
    font-weight: 700;
    font-size: 25px;
    box-shadow: 0 0 20px 0 black;
    height: 100px;
    padding: 15px 30px;
    background-color: rgba(00,64,35);
    transition: background-color 0.2s ease;
    border-radius: 5px;
}

.button:hover{
    background-color: blue;
}

.banner{
    box-shadow: 0 0 20px black;
    border-block: 5px solid #e9cf9c;
    background-color: rgba(00,64,35);
    padding-block: 30px;
    overflow:hidden;
    user-select: none;
    font-size: 30px;
    font-weight: 500;

    display: flex;
    --gap: 30px;
    gap: var(--gap);
}

.banner ul{
    flex-shrink: 0;
    gap: var(--gap);
    display:flex;
    list-style: none;

    justify-content: space-between;
    align-items: center;

    animation: bannerRoll 60s linear infinite;
}

.banner>*>*{
    color:#f7f5cf;
}

.slide{
    position: absolute;
    transition: opacity 0.5s ease;
    overflow: hidden;
}

.slide>img{
    min-width: 100vw;
    min-height: 100vh;
    vertical-align: center;
    object-fit: cover;
}

@keyframes bannerRoll{
    to{
        transform: translateX(calc(-100% - var(--gap)));
    }
}


