*{
    color:rgba(247, 245, 207);
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body{
    background-color: rgba(00,64,35);
    display: grid;
    height: 100%;
    /* position: fixed; */
    width: 100%;
    overscroll-behavior: none;
    /* overflow: hidden; */
    /* margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #61dafb; */
}